<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - ESATIC WebSocket </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ESATIC WebSocket </a>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block body %}{% endblock %}


{% block javascripts %}
    <script src="{{ asset('/fabric.js') }}"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}
<!-- Footer -->
<footer class="page-footer font-small blue bg-primary fixed-bottom">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© {{ "now" | date("Y") }}</div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</body>

</html>
